<configuration>
  <system.webServer>
    <handlers>
      <add name="pythonHandler" 
           path="*"
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="D:\home\python364x86\python.exe|D:\home\site\wwwroot\manage.py"
           resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions>
            <add input="true" pattern="false" />
          </conditions>
          <action type="Rewrite" url="manage.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
